@import "../index.css";

#container {
    height: 100vh;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    max-width: 500px;
    padding: 50px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
}

#login-heading {
    align-self: center;
}

.login-input-heading {
    font-size: large;
}

.login-input-field {
    margin: 40px 0px;
}

#login-forgot-password {
    align-self: center;
    margin-top: 10px;
}

@media (max-width: 480px) {
    #login-container {
        width: 90%;
        
        justify-content: center;
    }
  }